/* Tailwind CSS file (assuming Tailwind is already set up) */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Krona+One&family=Lora&family=Space+Grotesk&display=swap');

@font-face {
  font-family: 'Nokia Cellphone FC';
  src: url('/fonts/nokiafc22.ttf') format('truetype');
}
@font-face {
  font-family: 'NewYorkExtraLarge';
  src: url('/fonts/NewYorkExtraLarge.otf') format('opentype');
}
@font-face {
  font-family: "NewYork Small";
  src: url("/fonts/NewYorkSmall.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NewYorkMedium';
  src: url('/fonts/NewYorkMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: "SF Mono";
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/SFMonoRegular.otf') format('truetype');
  }
@font-face {
    font-family: "SFProDisplay";
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/SFProDisplay.otf') format('truetype');
  }
@font-face {
  font-family: 'SF Pro Text';
  src: url('/fonts/SFProText-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('/fonts/SFProText-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}



